<form (ngSubmit)="onPressCalculate()">
  <div class="input-group">
    <p>
      <label> initial investment </label>
      <input type="number" name="initial-investment" [(ngModel)]="initialInvestmentInput" />
    </p>

    <p>
      <label> annual investment </label>
      <input type="number" name="annual-investment" [(ngModel)]="annualInvestmentInput" />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label> expected return </label>
      <input type="number" name="expected-return" [(ngModel)]="expectedReturnInput" />
    </p>

    <p>
      <label> duration </label> <input type="number" name="duration" [(ngModel)]="durationInput" />
    </p>
  </div>

  <button>Calculate</button>
</form>
